astor==0.8.1
cmapy==0.6.6
dataclasses
gast==0.2.2
google-pasta==0.2.0
imageio-ffmpeg==0.4.2
imbalanced-learn==0.6.2
keras-applications==1.0.8
keras-preprocessing==1.1.2
matplotlib
moviepy==1.0.3
opencv-python==3.4.9.33
opt-einsum==3.2.1
proglog==0.1.9
pytz==2020.1
tensorboard
tensorflow
tensorflow-estimator
termcolor==1.1.0
typing-extensions==4.1.1
wrapt==1.12.1
youtube-dl==2020.6.6
configargparse
pandas
plotly
wandb==0.15.11